---
import { FiInstagram } from "react-icons/fi";
import { FiFacebook } from "react-icons/fi";
---

<div class="w-full py-4 border-t-[1px] flex gap-10 items-center justify-center">
  <img
    src="https://seeklogo.com/images/C/cetys-universidad-logo-402BD53AB0-seeklogo.com.png"
    class="h-[60px] w-auto object-contain"
  />
  <div class="h-[80px] w-[1px] bg-gray-300"></div>
  <div class="flex flex-col gap-4">
    <label class="text-sm text-black font-semibold">
      carlos.aleman@cetys.mx
    </label>

    <div class="flex gap-2">
      <a href="" class="">
        <FiInstagram
          href="https://www.instagram.com/congresodigeek/"
          size={20}
        />
      </a>
      <a href="https://www.facebook.com/CongresoDigeek">
        <FiFacebook href="https://www.facebook.com/CongresoDigeek" size={20} />
      </a>
    </div>
  </div>
</div>
