---
import { IoSearchOutline } from "react-icons/io5";
---

<div
  class="text-white h-[60px] border-b-[.5px] border-black/30 flex items-center px-5 py-[30px]"
>
  <a class="text-black flex items-center gap-2" href="/">
    <img src="/Favicon.png" class="w-8 h-8" />
    <label class="font-bolda text-slate-500">Conecta Digeek</label>
    <a class="font-bold text-black ml-[40px] text-sm" href="/"> Home </a>
    <a class="font-bold text-black ml-[20px] text-sm" href="search"> Search </a>
  </a>
</div>
