---
import HeroSection from "../components/home/HeroSection";
import StarsBackground from "../components/home/StarsBackground";
import TrendingTags from "../components/home/TrendingTags";
import Layout from "../layouts/Layout.astro";
import FeaturedPostsComponent from "../components/home/FeaturedPostsComponent";
---
<style>
  @import '../components/home/stars.css';
</style>

<Layout title="Conecta Digeek">
  <HeroSection />
  <StarsBackground />
  <div class="flex flex-col w-full justify-center items-center">
    <div class="flex justify-center items-start p-10 gap-3">
      <div class="w-2/3 flex flex-col justify-end">
        <div class="text-lg font-semibold text-gray-700 mb-4 text-center">
          Featured blogs
        </div>
        <FeaturedPostsComponent client:load />
      </div>
      <div class="bg-gray-800 w-0.5 h-auto self-stretch" />
      <TrendingTags />
    </div>
    <div class="flex w-[85%]">
      <div class="flex flex-col w-2/3 p-2">
        <!-- Aquí podrías tener contenido adicional o una lista de posts -->
      </div>
    </div>
  </div>
</Layout>
