---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Conecta Digeek">
  <main></main>
  <div class="flex flex-col">
    <a href="/search" class="underline font-bold">Go to search page ----></a>
    <a href="/home" class="underline font-bold">Go to home page ----></a>
  </div>
</Layout>
