---
import HeroSection from "../components/home/HeroSection";
import TrendingTags from "../components/home/TrendingTags";
import Layout from "../layouts/Layout.astro";
import RecommendedPosts from "../components/home/RecommendedPosts";
import RecommendedTags from "../components/home/RecommendedTags";
import Bottom from "../components/home/Bottom";
import HomeSearch from "../components/home/HomeSearch";
---

<Layout title="Conecta Digeek">
  <HeroSection client:load />
  <div class="container mx-auto md:p-0 p-4">
    <HomeSearch client:load />
    <RecommendedPosts client:load />
    <RecommendedTags client:load />
  </div>
  <!-- <Bottom /> -->
</Layout>
